<div class="container">
  <h1 class="section-header">CONTACT</h1>
  <div class="contact-container">
    <div class="section-text">
      Whether it's crafting a stunning Wordpress blog or developing a sleek and
      responsive professional website, I'm excited to collaborate.
      <div class="contact-cta">Let's bring your vision to life.</div>
    </div>
    <div class="link-container">
      <div class="cta-div contact-link">
        <mat-icon class="email-icon"> mail_outline</mat-icon>
        <a
          href="mailto:katymolloydev@gmail.com"
          class="email-button contact-link-cta"
          >Shoot me an email!</a
        >
      </div>

      <a href="https://github.com/katymolloy">
        <div class="cta-div contact-link">
          <img
            src="../../../assets/github.png"
            alt="github icon"
            class="social-icon"
          />
        <p class="contact-link-cta">Check out more work here</p>  
        </div></a>

      <a href="https://www.linkedin.com/in/katy-molloy/">
        <div class="cta-div contact-link">
          <img
            src="../../../assets/linkedin.png"
            alt="linkedin icon"
            class="social-icon"
          />
        <p class="contact-link-cta">Connect with me on Linkedin</p>  
        </div>
      </a>
    </div>
  </div>
</div>
