<div class="container">
  <h1 class="section-header">CONTACT</h1>
  <div  class="section-text">
    Whether it's crafting a stunning Wordpress blog or developing a sleek and
    responsive professional website, I'm excited to collaborate.
    <div class="contact-cta">Let's bring your vision to life.</div>
  </div>
  <div class="cta-div">
    <a
      href="mailto:katymolloydev@gmail.com"
      class="email-button section-text"
      >SHOOT ME AN EMAIL!</a
    >
  </div>

    <a href="https://github.com/katymolloy"
      ><img
        src="../../../assets/github.png"
        alt="github icon"
        class="social-icon filter-image"
    /></a>


  <a href="https://www.linkedin.com/in/katy-molloy/"
    ><img
      src="../../../assets/linkedin.png"
      alt="linkedin icon"
      class="social-icon filter-image"
  /></a>
</div>
