<div class="container">
  <h1>CONTACT</h1>
  <div class="contact-info">
    Whether it's crafting a
    captivating personal blog or developing a sleek and professional website,
    I'm excited to collaborate. 
    <div class="contact-cta">Let's bring your vision to life.</div>
    
  </div>
  <a href="mailto:katymolloydev@gmail.com" class="email-button"
    >shoot me an email!</a
  >
  <a href="https://github.com/katymolloy"
    ><img
      src="../../../assets/github.png"
      alt="github icon"
      class="social-icon"
  /></a>
  <a href="https://www.linkedin.com/in/katy-molloy/"
    ><img
      src="../../../assets/linkedin.png"
      alt="linkedin icon"
      class="social-icon"
  /></a>
</div>
