.about-content {
  display: flex;
  gap: 4em;
}

.about-link {
  width: 30em;
  padding: 0.5em;
  border-radius: 7px;
}

.about-link-ref {
  display: flex;
  align-items: center;
}

.link-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 2em;
}

.about-image {
  filter: grayscale(100%);
  width: 20em;
  border-radius: 7px;
  padding: 0;
}

.about-image-div {
  border-radius: 7px;
}
