.about-content{
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
}

.about-text{
    max-width: 45%;
}

.about-container{
    display: flex;
}

.about-image{
    max-width: 30em;
    border-radius: 7px;
    padding: 0
}

.about-image-div{
    border-radius: 7px;
    
}