<div class="container">
  <h1 class="forma-djr text-md weight-800">ABOUT</h1>
  <div class="about-content">
    <div class="about-text forma-djr text-sm">
      <div class="text-box ">
        My name is Katy Molloy, and I'm a full-stack web developer based out of Ontario, Canada.
      </div>
      <div class="text-box ">
        With a strong foundation in front-end and back-end technologies, I bring
        a unique blend of technical skills and a keen eye for design to every
        project.
      </div>
      <div class="text-box">
        My first introduction to web development was copying and pasting code
        into my Tumblr blog in order to customize it.
        <!-- What began as copying and pasting HTML code to customize my Tumblr
        blog has become a deep interest in coding and web technologies. I have honed my skills in HTML, CSS, JavaScript, and frameworks
        including React and Angular to build responsive and dynamic websites. -->
      </div>
      <div class="text-box ">
        Whether it's creating interactive user interfaces, optimizing website
        performance, or solving complex coding puzzles, I approach each task
        with enthusiasm and a commitment to delivering high-quality solutions.
        In addition to my technical expertise, I understand the importance of
        collaboration and effective communication in the development process. I
        enjoy working closely with clients to transform their ideas into reality
        and take pride in delivering projects that exceed expectations.
      </div>
      <div class="text-box body-reg-text">
        <a routerLink="/projects">Explore my portfolio here</a> to see for
        yourself
      </div>

      <div class="contact-call body-reg-text">
        Interested in building something amazing together? Contact me
        <a routerLink="/contact">here</a>!
      </div>
    </div>
    <div class="about-image-div" ><img src="../../../assets/katy.png" class="about-image"></div>
  </div>
</div>
