.home-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cta-div:hover {
  cursor: pointer;
}

.cta-div-container {
  display: flex;
  gap: 2em;
}

.cta-top-text {
  opacity: 0.5;
  bottom: 0;
  top: 0;
  margin: 0;
}
.cta-name {
  top: 0;
  margin: 0;
}

.cta-bottom-text {
  opacity: 0.7;
  top: 0;
  margin: 0;
}

.home-text {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}
