.home-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cta-div:hover {
  cursor: pointer;
}

.cta-div {
  width: 11em;
  padding: 0.2em;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.cta-div:hover {
  font-weight: 600;
}

.cta-div-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 5em;
}

.cta-top-text {
  opacity: 0.5;
  padding: 0;
  top: 0;
  margin: 0;
  font-size: var(--text-sm);
}
.cta-name {
  padding: 0;
  top: 0;
  margin: 0;
  font-size: var(--text-xxxl);
}

.cta-bottom-text {
  opacity: 0.7;
  padding: 0;
  top: 0;
  margin: 0;
  font-size: var(--text-md);
}

.home-text {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

@media screen and (max-width: 600px) {
  /* Your styles go here */

  .cta-top-text {
    font-size: var(--text-sm);
  }
  .cta-name {
    font-size: var(--text-lg);
  }
  .cta-bottom-text {
    font-size: var(--text-md);
  }

  .cta-div-text {
    font-size: var(--text-sm);
  }

  .cta-div {
    width: 11em;
 
  }
  /* .home-container {
    height: 50vh;
overflow: hidden;
  } */

  .cta-div-container {
    justify-content: center;
  }
}
