<div class="container">
  <div class="home-container">
    <div class="home-text">
      <div class="cta-top-text">Hey there, my name is</div>
      <h1 class="cta-name">Katy Molloy</h1>
      <h2 class="cta-bottom-text">
        I'm a full-stack web developer with a passion for beautiful websites.
      </h2>
    </div>
    <div class="cta-div-container">
      <a routerLink="/projects" class="cta-div-text">
        <div class="cta-div">
          CHECK OUT MY WORK<mat-icon class="cta-arrow">arrow_forward</mat-icon>
        </div>
      </a>

      <a routerLink="/contact" class="cta-div-text">
        <div class="cta-div">
          GET IN TOUCH<mat-icon class="cta-arrow">arrow_forward</mat-icon>
        </div>
      </a>
    </div>
  </div>
</div>
