<div class="container">
  <div class="home-container">
    <img
      src="../../../assets/icon1.png"
      alt="decorative logo"
      class="decorative-image  filter-image"
    />
    <img
      src="../../../assets/icon2.png"
      alt="decorative logo star"
      class="decorative-image  filter-image"
    />
    <div class="home-text">
      <div class="title-accent forma-djr text-md cta-top-text">
        Hey there, my name is
      </div>
      <h1 class="forma-djr weight-900 text-xxxl cta-name">Katy Molloy</h1>
      <h2 class="forma-djr weight-500 text-md cta-bottom-text">
        I'm a full-stack web developer with a passion for beautiful websites.
      </h2>
    </div>
    <div class="cta-button-container">
      <a routerLink="/projects" class="forma-djr text-md">
        <div class="cta-div">
          CHECK OUT MY WORK<mat-icon>arrow_forward</mat-icon>
        </div>
      </a>

      <a routerLink="/contact" class="forma-djr text-md">
        <div class="cta-div">
          GET IN TOUCH<mat-icon class="cta-arrow">arrow_forward</mat-icon>
        </div></a
      >
    </div>
  </div>
</div>
