<div class="container">
  <div class="home-container">
    <img src="../../../assets/icon1.png" alt="decorative logo" class="decorative-image">
    <div class="title-accent forma-djr cta-decorator">Hey there, my name is</div>
    <h1 class="forma-djr weight-900 cta-name">Katy Molloy</h1>
    <h2 class="forma-djr weight-500">
      I'm a full-stack web developer with a passion for beautiful websites.
    </h2>
    <div class="cta-button-container">
      <div class="cta-button">
        <a routerLink="/projects">CHECK OUT MY WORK</a>
      </div>
      <div class="cta-button"><a routerLink="/contact">GET IN TOUCH</a></div>
    </div>
  </div>
</div>
