<div class="container">
  <h1 class="section-header">PROJECTS</h1>

  <div class="project-container">
    <section class="style-shine project-card">
      <div class="browser-detail">
        <span class="section-title">Style and Shine</span>
        <span class="browser-icons">
          <mat-icon>remove</mat-icon> <mat-icon>clear</mat-icon></span
        >
      </div>
      <div class="section-container">
        <img
          src=".../../../../../assets/placeholder.png"
          alt="Screenshot of the Style and Shine website"
          class="website-photo"
        />
        <div class="section-content">
          <!-- <p>
            This website was created for a friend of mine's dog grooming
            business. We decided to focus on mobile-first design, as most of her
            clients reach her on mobile devices as opposed to desktop. Bootstrap
            was used to keep the design responsive.
          </p> -->
          <div class="skill-pill-container">
            <div class="skill-pill">Mobile First</div>
            <div class="skill-pill">Bootstrap</div>
          </div>
        </div>
      </div>
    </section>

    <section class="not-wordle project-card">
      <div class="browser-detail">
        <span class="section-title">Not Wordle</span>
        <span class="browser-icons">
          <mat-icon>remove</mat-icon> <mat-icon>clear</mat-icon></span
        >
      </div>

      <div class="section-container">
        <img
          src=".../../../../../assets/not-wordle.png"
          alt="Screenshot of the Not Wordle website"
          class="website-photo"
        />
        <div class="section-content">
          <!-- <p>
            A Wordle clone I made using Jquery. The game also features a fun
            confetti animation when the user wins, which was made using
            Matter.js.
          </p> -->
          <div class="skill-pill-container">
            <div class="skill-pill">Jquery</div>
            <div class="skill-pill">Matter.js</div>
          </div>
        </div>
      </div>
    </section>

    <section class="command-tv project-card">
      <div class="browser-detail">
        <span class="section-title">Command TV</span>
        <span class="browser-icons">
          <mat-icon>remove</mat-icon> <mat-icon>clear</mat-icon></span
        >
      </div>
      <div class="section-container">
        <img
          src=".../../../../../assets/command-tv.png"
          alt="Screenshot of the Command TV website"
          class="website-photo"
        />
        <div class="section-content">
          <!-- <p>
            This website was a group project for my Data Visualization course.
            The pattern library was created first, then the data dashboard using
            the D3.js library. I contributed the color and typography section
            for the pattern library, and 4 charts for the data dashboard.
          </p> -->
          <div class="skill-pill-container">
            <div class="skill-pill">D3.js</div>
            <!-- <div class="skill-pill">Mobile First</div>
          <div class="skill-pill">Bootstrap</div> -->
          </div>
        </div>
      </div>
    </section>

    <section class="style-shine project-card">
      <div class="browser-detail">
        <span class="section-title">Wedding Website</span>
        <span class="browser-icons">
          <mat-icon>remove</mat-icon> <mat-icon>clear</mat-icon></span
        >
      </div>
      <div class="section-container">
        <img
          src=".../../../../../assets/placeholder.png"
          alt="Screenshot of the Command TV website"
          class="website-photo"
        />
        <div class="section-content">
      
          <div class="skill-pill-container">
            <div class="skill-pill">Angular</div>
            <!-- <div class="skill-pill">Mobile First</div>
          <div class="skill-pill">Bootstrap</div> -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
