<div class="container">
  <h1 class="section-header">PROJECTS</h1>

  <section class="style-shine project-section">
    <h2 class="section-title">Style and Shine</h2>
    <div class="section-container">
      <img
        src=".../../../../../assets/placeholder.png"
        alt="Screenshot of the Style and Shine website"
        class="website-photo"
      />
      <div class="section-content">
        <p>
          This website was created for a friend of mine's dog grooming business.
          During it's creation, I made sure to first establish what she wanted
          out of her business website. I offered different solutions, but in the
          end we decided to keep it simple as a static website, highlighting her
          services, experience and skills. The design of the website is
          mobile-first, as the majority of her clients would be viewing the
          website on mobile. All branding graphics were also created by me.
        </p>
        <div class="skill-pill-container">
          <div class="skill-pill">Vanilla JS</div>
          <div class="skill-pill">Mobile First</div>
          <div class="skill-pill">Bootstrap</div>
        </div>
      </div>
    </div>
  </section>

  <section class="not-wordle project-section">
    <h2 class="section-title">Not Wordle</h2>
    <div class="section-container">
      <img
        src=".../../../../../assets/placeholder.png"
        alt="Screenshot of the Not Wordle website"
        class="website-photo"
      />
      <div class="section-content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          non possimus consequatur ipsa voluptatibus, odio quis officia
          necessitatibus aspernatur, assumenda deserunt, sed dolore laboriosam
          hic laudantium alias ipsam! Officiis tempore explicabo nobis nostrum
          ducimus nisi aut, laboriosam illo non ea architecto tempora, illum
          minus dicta quasi corrupti vitae omnis aperiam fugit aspernatur
          voluptatem cupiditate quo. Recusandae cum eos sit beatae alias, unde
          reprehenderit blanditiis sunt consequuntur optio! Et iure quos
          officiis ratione placeat ipsam amet rem at incidunt fuga, nam tempore
          odit eius laborum quod. Suscipit voluptate quod sapiente blanditiis
          neque! Reprehenderit similique asperiores maiores at laboriosam quas
          delectus provident?
        </p>
        <div class="skill-pill-container">
          <div class="skill-pill">Jquery</div>
          <div class="skill-pill">Matter.js</div>
        </div>
      </div>
    </div>
  </section>

  <section class="style-shine project-section">
    <h2 class="section-title">Command TV</h2>
    <div class="section-container">
      <img
        src=".../../../../../assets/command-tv.png"
        alt="Screenshot of the Command TV website"
        class="website-photo"
      />
      <div class="section-content">
        <p>
          This website was a group project for my Data Visualization course. The
          pattern library was created first, then the data dashboard using the
          D3.js library. I contributed the color and typography section for the pattern library, and
        </p>
        <div class="skill-pill-container">
          <div class="skill-pill">D3.js</div>
          <!-- <div class="skill-pill">Mobile First</div>
          <div class="skill-pill">Bootstrap</div> -->
        </div>
      </div>
    </div>
  </section>
</div>
