<div class="container">
  <h1 class="section-header">PROJECTS</h1>
  <section class="style-shine">
    <h2 class="section-title">Style and Shine</h2>
    <img src="#" alt="Screenshot of the Style and Shine website" />
    <div class="section-content">
      <p>
        This website was created for a friend of mine's dog grooming business.
        During it's creation, I made sure to first establish what she wanted out
        of her business website. I offered different solutions, but in the end
        she decided to keep it simple as a static website, highlighting her
        services, experience and skills. All branding graphics were also created
        by me.
      </p>
      <div class="skill-pill">Vanilla JS</div>
      <div class="skill-pill">Bootstrap</div>
    </div>
  </section>
</div>
