
.project-container{
  display: flex;
  gap: 1.3em;
  flex-wrap: wrap;
}

.section-title{
  font-size: var(--text-sm);
  font-weight: var(--text-600);
}

.browser-icons{
  display: flex;
  gap: 0.3em;
}

.browser-detail{
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

.section-content{
  flex-wrap: wrap;

}

.skill-pill-container {
  display: flex;
  gap: 0.3em;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em;
}

.website-photo {
  max-width: 25em;
}

.project-card{
  max-width: 25em;
  height: 27em;
}