<div class="fof-container">
  <div class="fof-text-container">
    <h1 class="body-header-text">ERROR 404</h1>
    <h2 class="body-header-text">Woah there, partner.</h2>
    <p class="body-reg-text">
      Looks like you might be lost. Click <a routerLink="/">here</a> to return to safety.
    </p>
   </div>

  <div class="animation-div">
    <img src="../../../assets/animation-bg.png" class="animation-bg invert-image">
    <img src="../../../assets/tumbleweed.png" class="animated-fof-icon invert-image" />
  </div>
</div>
