<div class="fof-container">
  <div class="fof-text-container">
    <h1 class="body-header-text">404</h1>
    <h2 class="body-header-text">Woah there, pardner.</h2>
    <p class="body-reg-text">
      Looks like you might be lost. Click <a routerLink="/">here</a> to return to society.
    </p>
 
    <!-- <a routerLink="projects">projects</a> -->
  </div>

  <div class="animation-div">
    <img src="../../../assets/bg-dark.png" class="animation-bg">
    <img src="../../../assets/tumbleweed-dark.png" class="animated-fof-icon" />
  </div>
</div>
