.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.nav-button {
  font-size: var(--text-sm);
  font-weight: var(--text-700);

  opacity: 0.5;
}

.logo-image {
  height: 3.5em;
  width: 3.5em;
}

.title-section {
  display: flex;
  gap: 1em;
}

.title-text {
  display: flex;
  flex-direction: column;
}
