<div class="header-container">
  <div class="title-section">
    <a routerLink="">
      <img src="../../../assets/logo.png" class="logo-image" />
    </a>
 
  </div>

  <nav>
    <a
      class="nav-button body-reg-text"
      routerLink="/about"
      routerLinkActive="active-button"
      >about</a
    >
    <a
      class="nav-button body-reg-text"
      routerLink="/projects"
      routerLinkActive="active-button"
      >projects</a
    >
    <a
    class="nav-button body-reg-text"
    routerLink="/contact"
    routerLinkActive="active-button"
    >contact</a
  >
  </nav>
  <app-theme-toggle></app-theme-toggle>

</div>
<hr>