

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
}

nav{
    display: flex;
    gap: 2em;
}

.nav-button{
    text-decoration: none;
    padding: 0.4em;
    font-size: 2em;
    /* position: fixed; */
}


.logo-image{
    height: 5em;
    width: 5em;
    aspect-ratio: auto;
}

.title-section{
    display: flex;
    gap: 1em;
}

.title-text{
    display: flex;
    flex-direction: column;
}
hr{
    width: 90%;
    border-top: solid 0.7px;
}