<div class="header-container">

    <a routerLink="/">
      <img src="../../../assets/logo.png" class="logo-image filter-image" />
    </a>


  <nav>
    <a
      class="nav-button forma-djr weight-700"
      routerLink="/about"
      routerLinkActive="active-button"
      >ABOUT</a
    >
    <a
      class="nav-button forma-djr weight-700"
      routerLink="/projects"
      routerLinkActive="active-button"
      >PROJECTS</a
    >
    <a
      class="nav-button forma-djr weight-700"
      routerLink="/contact"
      routerLinkActive="active-button"
      >CONTACT</a
    >
    <app-theme-toggle></app-theme-toggle>
  </nav>
</div>

