:root {
  /* dark theme colors */
  --dark-bg: #000000;
  --dark-text: #ffffff;
  --dark-accent: #ffff00;

  /* light theme colors */
  --light-bg: #ffffff;
  --light-text: #000000;
  --light-accent: #0000ff;

  /* text weights */
  --text-500: 500;
  --text-600: 600;
  --text-700: 700;
  --text-800: 800;
  --text-900: 900;

  /* text sizing */
  --text-xs: 1em;
  --text-sm: 1.3em;
  --text-md: 2em;
  --text-lg: 3em;
  --text-xl: 4em;
  --text-xxl: 5em;
  --text-xxxl: 7em;

  /* text detailing */
  --text-italic: italic;

  /* font */
  --font: "forma-djr-display", sans-serif;

  /* letter spacing */
  --spacing-sm: 0.7px;
  --spacing-md: 1px;
}

.cta-div-text {
  font-size: var(--text-md);
  font-weight: var(--text-600);
}

.section-header {
  font-size: var(--text-md);
  font-weight: var(--text-800);
  letter-spacing: var(--spacing-sm);
}

.section-text {
  font-size: var(--text-sm);
  letter-spacing: var(--spacing-sm);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

div,
h1,
h2,
p:hover {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

.container {
  margin: 2em 3em;
  height: 80vh;
}

a {
  text-decoration: none;
}

/* dark theme */
.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);

  .nav-button:visited {
    color: var(--dark-text);
  }

  .about-link-ref {
    color: var(--light-text);
  }

  .nav-button.active-button {
    color: var(--dark-accent);
    opacity: 1;
  }

  .about-image-div {
    box-shadow: 15px 15px var(--dark-accent);
    border: solid 3px var(--dark-bg);
  }

  .cta-div {
    color: var(--dark-bg);
    background-color: var(--dark-text);
    box-shadow: 10px 10px var(--dark-accent);
    border: solid 3px var(--dark-bg);
  }
  .social-icon{
    filter: invert()
  }
}

/* light theme */
.light-theme {
  background-color: var(--light-bg);
  color: var(--light-text);

  .nav-button:visited {
    color: var(--light-text);
  }

  .nav-button.active-button.active-button {
    color: var(--light-accent);
    opacity: 1;
  }

  a.about-link-ref {
    color: var(--dark-text);
  }

  .cta-div {
    color: var(--light-bg);
    background-color: var(--light-text);
    box-shadow: 10px 10px var(--light-accent);
    border: solid 3px var(--light-bg);
  }

  .filter-image {
    filter: invert();
  }
  .about-image-div {
    box-shadow: 15px 15px var(--light-accent);
    border: solid 3px var(--light-bg);
  }
}

@media screen and (max-width: 600px) {
  .section-text {
    font-size: var(--text-xs);
  }

  /* Add more styles as needed */
}
