:root {
  --dark-bg: #000000;
  --dark-text: #ffffff;
  --dark-accent: #ffff00;

  --light-bg: #ffffff;
  --light-text: #000000;
  --light-accent: #0000ff;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  letter-spacing: 0.7px;
}
div,
h1,
h2,
p:hover {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

.container {
  margin: 2em 3em;
}

.forma-djr {
  font-family: "forma-djr-display", sans-serif;
}

.italic {
  font-style: italic;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 900;
}

.text-sm {
  font-size: 1.3em;
}

.text-md {
  font-size: 2em;
}

.text-lg {
  font-size: 3em;
}

.text-xl {
  font-size: 4em;
}

.text-xxl {
  font-size: 5em;
}

.text-xxxl {
  font-size: 7em;
}

a {
  text-decoration: none;
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);

  a:visited {
    color: var(--dark-text);
  }


  a.active-button {
    color: var(--dark-accent);
    opacity: 1;

  }

  .about-image-div {
    box-shadow: 15px 15px var(--dark-accent);
    border: solid 3px var(--dark-bg);
  }

  .cta-div {
    color: var(--dark-bg);
    background-color: var(--dark-text);
    box-shadow: 10px 10px var(--dark-accent);
    border: solid 3px var(--dark-bg);
  }
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--light-text);

  a:visited {
    color: var(--light-text);
  }

  a.active-button {
    color: var(--light-accent);
    opacity: 1;
  }

  .cta-div {
    color: var(--light-bg);
    background-color: var(--light-text);
    box-shadow: 10px 10px var(--light-accent);
    border: solid 3px var(--light-bg);
  }

  .filter-image {
    filter: invert();
  }
  .about-image-div {
    box-shadow: 15px 15px var(--light-accent);
    border: solid 3px var(--light-bg);
  }
}

.decorative-image {
  max-width: 5em;
  max-height: 5em;
}

.cta-div {
  border-radius: 7px;
}
